# OS
.DS_Store
Thumbs.db

# Editor / tooling
.idea/
.vscode/
*.swp
*.swo
*~
Session.vim

# Neovim runtime junk
shada/
undo/
backup/
swap/

# Lua / luarocks
lua_modules/
rocks/
.rocks/
*.rock

# Tests / local test environments
.plenary/
tests/tmp/
tests/.tmp/
coverage/
.coverage
luacov.report.out
luacov.stats.out
*.ts

# Build / package artifacts
dist/
build/
*.zip
*.tar.gz

# Logs
*.log

# Environment files
.env
.env.*

doc/tags

.lazy/
.deps/
.pack/

.direnv/
